env:
  global:
    - CC_TEST_REPORTER_ID=51a74a14a96931b5a22b9c6837bb61cd075eac815c77872a12963b0e05719ac1
language: node_js
sudo: false
notifications:
  email: false
node_js:
- '11'
cache:
  directories:
  - node_modules

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
- npm test && npm run report:lcov

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
