@import "node_modules/calcite-web/dist/sass/calcite-web";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.boilerplate-view {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.boilerplate-loading-indicator {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
}

.boilerplate--loading .boilerplate-loading-indicator {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/img/loader-ie9.gif);
}

.boilerplate--error .boilerplate-loading-indicator {
  display: block;
}

.boilerplate-loading-message {
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}